@import '../../assets/styles/color.scss';

.header {
    background-color: $secondary-color;
    display:flex;
    justify-content: space-between;

    &__title {
        margin-top: 1rem;
        font-size: 2.4em;
        text-transform: uppercase;
    }
}

.navbar {
    border-top: 0.5rem solid $primary-color;
    
    &__nav {
        padding: 0;
        display:flex;
        list-style-type: none;
        font-size: 2.4em;
        padding: 1rem 0;
    }
    
    &__link {
        padding: 0 10rem;
        color:white;

        &:hover {
            color:white;
            text-decoration: none;
        }
    }
    
}

